@import "tailwindcss";

.added {
    background-color: #d4fdd4; 
    color: green;
}

.removed {
    background-color: #ffd6d6; 
    color: red;
    text-decoration: line-through;
}

.unchanged {
    color: #333;
}


.ProseMirror:focus {
  outline: none !important;
  box-shadow: none !important;
}